
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div class="col-md-6" style="margin-bottom:50px;">
    <p class="title-head">ডিজিটাল কৃষি ক্যালেন্ডার কেন?</p>
    <hr class="style-one" />
    <p class="sub-head">১। সঠিক সময়ে ফসল লাগানোর জন্য।</p><br />
    <p class="sub-head">২। আধুনিক এবং উন্নত জাতের ফসল চাষের জন্য।</p><br />
    <p class="sub-head">৩। জমির সর্বোচ্চ ব্যবহার করার জন্য।</p><br />
    <p class="sub-head">৪। দুই ফসলি জমি তিন/চার ফসলিতে রুপান্তর হবে।</p><br />
    <p class="sub-head">৫। শস্য বহুমুখীকরণ সম্ভব হবে।</p><br />
    <p class="sub-head">৬। কৃষকের হয়রানী কমানোর জন্য।</p><br />
    <p class="sub-head">৭। আধুনিক প্রযুক্তি সঠিক সময়ে কৃষকের কাছে পৌছানোর জন্য।</p><br />
    </div>
<div class="col-md-4 col-md-offset-1">
    <img class="img-thumbnail" src="/dist/images/g-02.png" style="margin-top: 80px;" />
</div>





