
@{
    ViewBag.Title = "Aim Of CropCalender";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="col-md-6" style="margin-bottom:50px;">
    <p class="title-head">উদ্দেশ্যঃ</p>
    <hr class="style-one" />
    <p class="sub-head">১। আধুনিক জাত সম্প্রসারণ করা।</p><br />
    <p class="sub-head">২। সঠিক সময়ে সঠিক জাতের ফসল চাষের মাধ্যমে জমির সর্বোচ্চ ব্যবহার তথা ফসলর নিবিড়তা বাড়ানো।</p><br />
    <p class="sub-head">৩। কৃষকের হয়রানী কমানো।</p><br />
    <p class="sub-head">৪। চাহিদা মাফিক তথ্য সময়মত কৃষককে প্রদান করা।</p><br />
    <p class="sub-head">৫। শস্য বহুমুখীকরণ করা।</p><br />
</div>
<div class="col-md-4 col-md-offset-1">
    <img class="img-thumbnail" src="/dist/images/g-02.png" style="margin-top:80px;"/>
</div>






