
@{
    ViewBag.Title = "Implementation";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<div class="col-md-6" style="margin-bottom:50px;">
    <p class="title-head">বাস্তবায়ন কৌশলঃ</p>
    <hr class="style-one" />
    <p class="sub-head">উপ সহকারী কৃষি অফিসারগণের মাধ্যমে, বীজ/সার ডিলারগণের মাধ্যমে, কৃষি ক্লাব থেকে, ইউনিয়ন ডিজিটাল সেন্টার থেকে এবং উপজেলা কৃষি অফিস থেকে কৃষকদের ডিজিটাল কৃষি ক্যালেন্ডার বিতরণ করা হবে।</p><br />
    
</div>
<div class="col-md-4 col-md-offset-1">
    <img class="img-thumbnail" src="/dist/images/g-02.png" style="margin-top: 80px;" />
</div>

