@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";

}
<section>
    <div class="main-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h1 class="head-text">বাংলাদেশ কৃষি ক্যালেন্ডার</h1>
                    <div class="col-md-8 col-md-offset-3">
                        <div class="btn-group custom-class">
                            <button type="button" class="btn btn-primary newbtn">
                                নতুন ক্যালেন্ডার
                            </button>
                            <button type="button" class="btn btn-success oldbtn">
                                পুরাতন ক্যালেন্ডার
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="slider">
                        <img class="img-thumbnail" src="~/dist/images/ricecrop.jpg" style="min-height: 250px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h2 class="top-title">পরিচিতি</h2>
                    <p class="top-text">
                        কৃষি নয, আধুনিক কৃষি এই ব্রত নিয়ে আমাদের যাত্রা। আর কৃষি বিপ্লের জন্য চাই পর্যাপ্ত তথ্য, আমরা মনে করি শুধু মাত্র সঠিক, শুদ্ধ  এবং গবেষনালব্ধ তথ্যই পারে এ দেশে আমাদের স্বপ্নের প্রযুক্তি নির্ভর আধুনিক কৃষিকে বেগবান করতে। আমাদের কৃষক সমাজ আজও  পৈতৃকসূত্রে প্রাপ্ত জ্ঞান আর অভিজ্ঞতাকে কাজে লাগিয কৃষি কাজ চালিয়ে যাচ্ছে।কৃষিতে প্রযুক্তির ব্যাবহার এখনো চোখে পডার মত  তেমন কোন অগ্রগতি লাভ করেনি। তবে কৃষিতে গবেষনা যে চলছে না তা কিন্তু নয, গবেষনা হচ্ছে প্রতিনিয়ত এবং আমাদের দেশের  অনেক যোগ্য ও প্রতিথযশা গবেষকরা গবেষনা চালিয যাচ্ছেন এবং ভাল ফল ও পাচ্ছেন কিন্তু যা হচ্ছে না, তা হল প্রচার। কোন কোন  ক্ষেত্রে গবেষনার ফলাফল জার্নাল বা পাবলিকেশানের মধ্যেই সীমাবদ্ধ থাকছে। আমরা চাচ্ছি আমাদের গবেষকদের  এই অর্জনগুলো  তৃনমুল পার্যায পৌছে দিতে। কৃষি কাজে আধুনিক ধ্যান-ধারনা, কৃষিতে প্রযুক্তির ব্যাবহার এবং জমিতে বীজ, সারসহ অন্যান্য উপদানের  সর্বোচ্চ ব্যাবহার নিশ্চিত করার জন্য প্রযাজনীয তথ্যের সন্নিবেশন করার চেষ্টা করা হযছে আমাদের এই ওয়েব সাইটে। দেশের মানুষের  আর্থসামাজিক মানোন্নয়নের জন্য তাদেরকে জমিভিত্তিক চাষবাসের পাশাপাশি মৎস্য চাষ, গবাদি পশু ও পাখি পালনেও উৎসাহিত  করার লক্ষ্যে বিষয ভিত্তিক তথ্যের সমাবেশ ঘটানো হয়েছে। শুধু উৎপাদন নয, উৎপাদিত পন্য যেন ভাল বাজারদর পায় সে জন্য আমরা  প্রচলিত বাজার ব্যবস্থা থেকে একটু ভিন্নরকম কিন্তু উন্নত দেশগুলোতে প্রচলিত ভার্চুযাল বাজার ব্যবস্থার উদ্যেগ গ্রহন করেছি।
                    </p>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="top-video">
                        <iframe width="100%" height="400" src="https://www.youtube.com/embed/cIM4dX49VxE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <h2 class="top-title">পরিকল্পনা ও বান্তবায়নে</h2>
            <ul class="icon-list">
                <li><img class="img-responsive" src="~/dist/images/bd_logo.png"></li>
                <li><img class="img-responsive" src="~/dist/images/Dae.png"></li>
                <li><img class="img-responsive" src="~/dist/images/A2i_Logo.svg.png"></li>
            </ul>
        </div>
    </div>
</section>