
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div class="col-md-6" style="margin-bottom:50px;">
<p class="title-head">ফলাফলঃ</p>
<hr class="style-one" />
<p class="sub-head">১। সময়মত কৃষককে পরামর্শ্ দেয়া যাবে এবং কৃষকের হয়রানী কমবে।</p><br />
<p class="sub-head">২। পরিকল্পিত পদ্ধতিতে আধুনিক প্রযুক্তি মাঠে ছড়িয়ে যাবে।</p><br />
<p class="sub-head">৩। ফসলর উৎপাদন বেড়ে যাবে।</p><br />
<p class="sub-head">৪। দুই ফসলি জমি তিন/চার ফসলিতে রুপান্তর হবে।</p><br />
<p class="sub-head">৫। শস্য বহুমুখীকরণ সম্ভব হবে।</p><br />
<p class="sub-head">৬। ফসলের নিবিড়তা বাড়বে।</p><br />
<p class="sub-head">৭। সরকারী নীতি বাস্তবায়ন সম্ভব হবে।</p><br />
<p class="sub-head">৮। বছরের শুরুতেই পরামর্শ্ পাবে ফলে আগাম প্রয়োজনীয় প্রস্তুতি নিতে পারবে।</p>
</div>
<div class="col-md-4 col-md-offset-1">
    <img class="img-thumbnail" src="/dist/images/g-02.png" style="margin-top: 80px;" />
</div>






